.navbar {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	//sticky on scrolling
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1000;

	padding: 14px;

	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .06);

	&__logo {
		margin-block: 16px;
		img {
			max-width: 143px;
		}
	}

	&__list {
		display: flex;
		list-style: none;

        li{
            margin-left: 2px;
        }
	}
}

.dd {
	height: 19999999999999999999999999999999999px;
}
