//variables
$primary-color: #008fe2;
$secondary-color: #2d529f;

$light-color: #ffffff;
$dark-color: #1d2127;
$body-color: #777777;

$bg-grey: #f7f7f7;

$footer-body-color: #95989c;

$main-font: "Poppins", sans-serif;
$fs-body-medium: 0.875rem;
$fs-body-small: 0.788rem;
$fs-title-medium: 1.875rem;
$fs-sub-title: 1.2rem;

$fs-title-footer: 1.091rem;
