//variables
$primary-color: #008fe2;
$secondary-color: #2d529f;

$light-color: #ffffff;
$dark-color: #1d2127;
$body-color: #777777;

$bg-grey: #f7f7f7;

$main-font: "Poppins", sans-serif;
$fs-regular: 0.875rem;
$fs-title: 1.875rem;
$fs-sub-title: 1.2rem;
