.r-card {
	display: flex;
	flex-direction: column;

	&__img {
		img {
			width: 100%;
		}
	}

	&__text {
		padding: 16px 24px;
		h3 {
			font-weight: 600;
		}
		p {
			color: $body-color;
			font-size: $fs-body-small;
			margin-bottom: 16px;
		}
	}

	&:hover {
		box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
			rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
			rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
	}
}

.d-card {
	margin-bottom: 24px;

	&__img {
		img {
			height: 306px;
			width: 255px;
		}
	}
	&__text {
		padding: 24px;
		display: flex;
		justify-content: space-between;
		figcaption {
			display: flex;
			flex-direction: column;
			h5 {
				font-size: 1.05rem;
				font-weight: 400;
				color: $body-color;
			}

			h3 {
				font-size: 1.313rem;
				color: $dark-color;
				font-weight: 600;
			}
		}
	}
}

.card-icon {
	display: flex;
	gap: 1.2rem;

	&__img {
	}

	&__text {
		h3 {
			color: $primary-color;
			text-transform: capitalize;
			font-size: $fs-title-small;
			margin-bottom: 1rem;
		}
		p {
			color: $body-color;
		}
	}
}
